In [17]:
import pandas as pd

# Adjust pandas options to see all columns and to read subgroup descriptions fully
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 200)

In [20]:
df = pd.read_csv('Calc.csv')

In [ ]:
df["FinalExam", "WeeklyTests"].to_numeric(errors='coerce', inplace=True)

In [21]:
df.head()

,course_code,collegeyear,FinalExam,WeeklyTests,StartTest,Midterm,CalculatedNumericResult,EndResult,Passed,origin,sex,croho,type_vooropleiding,double_major,course_repeater,active_minutes,total_course_activities,nightly_activities,distinct_days,logged_in_weekly,nr_files_viewed,nr_distinct_files_viewed,nr_slides_viewed,nr_practice_exams_viewed
0,2WAB0,2024,0.4,0.0,2.0,1.0,0.6,NVD,False,ORIGIN_N,SEX_V,"B Architecture, Urbanism & Building Sciences",VWO,False,True,349.0,42.0,9.0,6.0,0.0,7.0,3.0,0.0,0.0
1,2WAB0,2024,0.7,0.7,3.5,3.5,1.3,NVD,False,ORIGIN_E,SEX_V,"B Architecture, Urbanism & Building Sciences",BUITENL_SL,False,False,165.0,87.0,12.0,16.0,0.0,17.0,6.0,0.0,0.0
2,2WAB0,2024,0.7,10.0,6.0,6.0,2.7,NVD,False,ORIGIN_E,SEX_V,"B Architecture, Urbanism & Building Sciences",BUITENL_SL,False,False,4334.0,318.0,120.0,27.0,0.0,75.0,20.0,0.0,29.0
3,2WAB0,2024,0.7,6.9,6.0,2.8,2.1,NVD,False,ORIGIN_N,SEX_M,B Industrial Design,VWO,False,True,85.0,112.0,36.0,10.0,0.0,10.0,2.0,0.0,1.0
4,2WAB0,2024,0.7,7.8,5.0,1.8,2.0,NVD,False,ORIGIN_E,SEX_M,B Electrical Engineering,BUITENL_SL,False,False,685.0,15.0,3.0,4.0,0.0,27.0,12.0,0.0,13.0

In [29]:
df = df[df["collegejaar"]==2024]

In [30]:
df = df[df["cursus"]=='2WBB0']

In [31]:
df

,student_key,cursus,collegejaar,FinalExam,WeeklyTests,StartTest,Midterm,CalculatedNumericResult,EndResult,Passed,origin,sex,croho,type_vooropleiding,active_minutes,total_course_activities,nightly_activities,distinct_days,logged_in_weekly,nr_files_viewed,nr_distinct_files_viewed,nr_slides_viewed,nr_practice_exams_viewed
0,114,2WBB0,2024,"2,3","10,0","6,5","0,0",3.3,3,False,ORIGIN_N,SEX_M,B Psychology & Technology,VWO,713.0,228.0,0.0,20.0,1.0,57.0,22.0,0.0,4.0
2,1997,2WBB0,2024,"3,5","9,0","5,5","1,5",3.7,NVD,False,ORIGIN_N,SEX_M,B Psychology & Technology,VWO,3887.0,376.0,20.0,32.0,1.0,165.0,45.0,0.0,5.0
4,5608,2WBB0,2024,"5,0","10,0","7,5","5,8",5.8,6.0,True,ORIGIN_N,SEX_M,B Innovation Sciences,VWO,9546.0,138.0,18.0,17.0,1.0,26.0,12.0,0.0,2.0
6,6089,2WBB0,2024,"5,0","8,4","7,5","5,8",5.5,NVD,False,ORIGIN_N,SEX_V,B Data Science (joint degree),WO,4025.0,312.0,45.0,31.0,1.0,66.0,28.0,0.0,2.0
7,10643,2WBB0,2024,"6,1","10,0","5,0","1,8",6.0,6.0,True,ORIGIN_N,SEX_M,B Data Science (joint degree),WO,2646.0,423.0,42.0,23.0,1.0,116.0,43.0,0.0,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3984,187853,2WBB0,2024,"3,9","3,3","8,5","7,0",4.6,NVD,False,ORIGIN_N,SEX_M,B Data Science (joint degree),VWO,823.0,174.0,21.0,20.0,1.0,91.0,36.0,0.0,3.0
3986,187858,2WBB0,2024,"5,5","8,0","9,0","5,0",6.1,6.0,True,ORIGIN_N,SEX_M,B Industrial Engineering,VWO,241.0,111.0,21.0,11.0,0.0,21.0,13.0,0.0,0.0
3989,187902,2WBB0,2024,"3,0","7,4","8,0","5,3",2.4,NVD,False,ORIGIN_N,SEX_M,B Data Science (joint degree),VWO,4013.0,771.0,30.0,43.0,1.0,226.0,68.0,0.0,10.0
3991,187920,2WBB0,2024,"7,3","8,0","8,0","1,6",5.5,5.0,False,ORIGIN_N,SEX_M,B Electrical Engineering,VWO,15794.0,552.0,66.0,52.0,1.0,155.0,43.0,0.0,9.0
3993,187971,2WBB0,2024,"6,8","10,0","9,5","6,8",7.4,7.0,True,ORIGIN_N,SEX_M,B Industrial Engineering,VWO,2154.0,495.0,117.0,27.0,1.0,138.0,63.0,0.0,11.0

In [32]:
df.to_csv('data_calculus_final.csv',index=False)