In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data_final_to_preprocess.csv')

Clean 'comma' srings to float. These are the columns:
final_exam
ga1
ga2
homework
And remove rows with 'ONG'

In [5]:
cols = ['final_exam', 'ga1', 'ga2', 'homework']


# Remove rows where any of the selected columns contain 'ONG'
df = df[~df[cols].isin(['ONG']).any(axis=1)]

# Convert valid numeric strings to floats
for col in cols:
    df[col] = df[col].astype(str).str.replace(',', '.').astype(float)

In [9]:
# Create boolean column based on nr_practice_exams_viewed
df['bool_practice_exams_viewed'] = df['nr_practice_exams_viewed'].astype(float) > 0

In [10]:
df.head()

,student_key,final_exam,ga1,ga2,homework,Programming_Exercises_PRE,Programming_Exercises_EDA,Programming_Exercises_VIS,Programming_Exercises_DMM,Programming_Exercises_ORG,...,active_minutes,total_course_activities,nightly_activities,distinct_days,logged_in_weekly,nr_files_viewed,nr_distinct_files_viewed,nr_slides_viewed,nr_practice_exams_viewed,bool_practice_exams_viewed
0,5735,3.5,7.2,6.2,6.0,9.78,8.8,2.0,0.0,0.0,...,2240,280,0,20,1,42,20,13,0,False
1,92534,7.9,3.5,3.3,10.0,10.00,8.6,9.4,9.3,0.0,...,1088,300,4,27,1,46,24,10,2,True
2,115150,5.1,0.0,3.4,10.0,8.11,8.0,8.0,0.0,8.1,...,480,200,8,18,1,16,12,4,0,False
3,128208,5.1,6.6,7.0,10.0,10.00,9.8,8.4,9.1,9.1,...,483,192,8,19,1,16,15,0,1,True
4,129620,3.1,6.0,5.1,0.0,0.00,0.0,0.0,0.0,4.4,...,5880,344,36,22,1,55,26,5,6,True

In [12]:
df.to_csv('data_final.csv',index=False)