In [2]:
import pandas as pd
import Experiment_calculus as exca
import Experiment_FDA as exda

# Adjust pandas options to see all columns and to read subgroup descriptions fully
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 200)
pd.set_option('display.max_rows', 200)

In [3]:
exda.main()

Collected 100 subgroup models.
Exported 100 subgroup models to results/subgroup_linear_models.csv
Complex baseline evaluation metrics: {'r2': 0.1428, 'mae': np.float64(0.8974), 'mse': np.float64(1.3404), 'mean_residual': -0.0965, 'y_pred': 413    7.173249
955    7.574448
601    7.085345
593    4.687878
816    7.748823
654    6.961026
489    7.066269
452    6.741941
155    4.782092
879    7.202394
696    5.910122
744    5.890880
520    7.086891
244    7.435708
247    6.975492
321    6.201849
380    7.878398
260    7.475106
299    6.289569
495    7.092890
358    7.060088
752    6.880192
214    6.506578
482    4.322289
88     6.278090
152    6.775834
441    8.121396
574    6.825939
661    6.834298
595    6.704929
650    6.854041
72     7.034992
775    7.562938
357    7.857402
704    6.069019
462    6.838923
425    7.318524
867    6.995857
236    7.371722
538    7.210595
611    7.275387
47     7.575830
852    7.077944
759    7.763550
904    8.080396
221    6.359788
986    7.754473
40     6.527828
92     7.321301
535    7.171291
347    6.801545
716    8.084972
550    6.858281
76     7.747159
319    7.227504
253    6.759473
63     8.742568
977    7.983944
821    7.312813
554    6.026984
265    7.394778
110    7.125235
89     6.705592
651    5.991499
179    7.341971
798    7.119804
153    7.011787
424    6.711555
490    5.591718
596    6.925695
254    6.089307
590    6.481302
767    6.921898
517    6.856888
907    8.291619
832    7.575378
695    6.841210
740    7.492451
839    7.932505
138    8.437659
683    7.129645
423    6.607021
765    7.222018
270    7.962436
115    5.594345
157    7.476133
362    6.873697
924    6.279255
345    6.051941
163    7.359514
845    7.773005
585    6.098804
947    7.428556
958    6.438035
66     7.173526
164    7.176170
678    6.960679
632    7.050742
814    7.407512
191    7.931808
287    6.004981
521    6.670102
726    6.776833
102    6.660800
147    7.116859
419    7.320168
896    8.003904
942    6.870338
372    6.868117
170    7.323995
512    6.353569
70     6.843054
733    7.549440
35     4.610969
758    6.997366
697    7.155833
98     7.455176
325    6.450260
963    6.874222
801    8.243391
328    7.283597
406    6.088629
337    7.206099
428    7.361528
949    8.033534
641    5.910916
712    7.600011
437    7.377431
612    7.437589
104    7.967914
133    6.694426
154    5.526111
55     6.244279
385    7.205725
74     8.103607
714    7.914256
225    6.169428
379    6.812944
67     7.070214
293    3.655062
640    8.108224
211    6.200941
635    7.702153
642    8.640550
559    6.740480
944    7.392141
472    7.350071
644    7.120983
340    5.661996
751    6.218758
146    7.064674
873    7.826584
524    7.499200
919    6.508603
868    6.824054
65     7.347608
773    7.279126
300    7.464703
886    7.946431
303    6.771650
782    7.809251
178    5.658893
903    7.751559
920    7.110145
953    7.625013
463    7.762574
455    7.019305
630    7.321486
592    7.166782
237    6.807595
943    6.517719
770    8.055084
404    6.890236
755    7.873229
813    7.729590
760    6.657633
571    7.013872
289    7.119856
77     5.441282
964    4.859800
663    7.153314
405    7.619053
238    6.194220
162    6.771337
580    7.411200
307    6.878040
558    5.914057
324    7.194055
888    7.477145
384    7.298101
446    7.519959
582    5.675080
127    6.538681
330    6.164682
717    7.254254
684    6.416525
11     6.597742
306    6.852044
431    6.758328
921    7.563591
dtype: float64}

NameError: name 'i' is not defined

In [ ]:
df_s = pd.read_csv("results/subgroup_ss_mathematics_results8020.csv")
df_s.head(1)
#df_s.columns

In [ ]:
# Assign rank: one per row (since you now have only subgroup_model rows)
df_s['subgroup_rank'] = (df_s.index + 1).astype("object")
df_s.loc[df_s['model_type'] == 'global', 'subgroup_rank'] = "N/A"

# Round columns for better readability
for col, ndigits in [('cookD', 2), ('r2', 3), ('mae', 3), ('mse', 3), ('mean_residual', 3),
                     ('global_baseline_r2', 3), ('global_baseline_mae', 3), ('global_baseline_mse', 3), ('global_baseline_mean_residual', 3),
                     ('mean_baseline_r2', 3), ('mean_baseline_mae', 3), ('mean_baseline_mse', 3), ('mean_baseline_mean_residual', 3)]:
    if col in df_s.columns:
        df_s[col] = df_s[col].round(ndigits)

# Compare r2 between subgroup_model and global baseline for each row
df_s['subgroup_r2_better'] = (df_s['r2'] > df_s['global_baseline_r2']).astype("object")
df_s.loc[df_s['model_type'] == 'global', 'subgroup_r2_better'] = None
df_s['subgroup_better_global'] = (df_s['ttest_p'] < 0.1)
df_s.loc[df_s['model_type'] == 'global', 'subgroup_better_global'] = None
df_s['subgroup_better_mean'] = (df_s['ttest_p_mean'] < 0.1)
df_s.loc[df_s['model_type'] == 'global', 'subgroup_better_mean'] = None
df_s['global_better_mean'] = (df_s['ttest_p_mean_global'] < 0.1)
df_s.loc[df_s['model_type'] == 'global', 'global_better_mean'] = None

# Add decision column based on the rules
def determine_decision(row):
    sg = row['subgroup_better_global']
    sm = row['subgroup_better_mean']
    gm = row['global_better_mean']
    
    if sg and sm:
        return "True discovery"
    elif sg and not sm:
        return "True discovery, but model not appropriate"
    elif not sg and sm:
        return "Weak discovery"
    elif not sg and not sm and gm:
        return "False discovery"
    else:
        return "Model not appropriate"

df_s['decision'] = df_s.apply(determine_decision, axis=1)

# Specify desired column order
main_cols = [
    'subgroup_rank', 'model_type', 'description', 'decision', 'subgroup_r2_better', 'cookD', 'n_train', 'n_test',
    'r2', 'global_baseline_r2', 'mean_baseline_r2', 
    'mae', 'global_baseline_mae', 'mean_baseline_mae',
    'mse', 'global_baseline_mse', 'mean_baseline_mse',
    'mean_residual', 'global_baseline_mean_residual', 'mean_baseline_mean_residual'
]
rest_cols = [c for c in df_s.columns if c not in main_cols]
new_order = main_cols + rest_cols

# Reorder columns
df_s = df_s[new_order]

/var/folders/0_/xw_ks0g978df8kf5jp1rvf2h0000gn/T/ipykernel_4841/2205722591.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_s.loc[df_s['model_type'] == 'global', 'subgroup_better_global'] = None
/var/folders/0_/xw_ks0g978df8kf5jp1rvf2h0000gn/T/ipykernel_4841/2205722591.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_s.loc[df_s['model_type'] == 'global', 'subgroup_better_mean'] = None
/var/folders/0_/xw_ks0g978df8kf5jp1rvf2h0000gn/T/ipykernel_4841/2205722591.py:20: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_s.loc[df_s['model_type'] == 'global', 'global_better_mean'] = None

In [ ]:
df_s[df_s['decision'].isin(['Weak discovery', 'True discovery'])][['subgroup_rank', 'description', 'decision', 'n_test', 'n_train', 'r2', 'global_baseline_r2', 'mean_baseline_r2']]

,subgroup_rank,description,decision,n_test,n_train,r2,global_baseline_r2,mean_baseline_r2
8,9,"Medu in (-0.001, 2.0] ∧ Pstatus=='T' ∧ age in (17.0, 18.0]",Weak discovery,9,27,0.656,0.734,-0.322
9,10,"Medu in (-0.001, 2.0] ∧ age in (17.0, 18.0] ∧ traveltime in (0.999, 2.0]",True discovery,6,26,0.888,0.615,-1.044
12,13,Fjob=='services' ∧ guardian=='father',Weak discovery,8,27,0.824,0.695,-0.056
13,14,"Fjob=='services' ∧ guardian=='father' ∧ traveltime in (0.999, 2.0]",Weak discovery,6,27,0.856,0.712,-0.108
14,15,"Fjob=='services' ∧ failures in (-0.001, 3.0] ∧ guardian=='father'",Weak discovery,8,27,0.824,0.695,-0.056
15,16,Fjob=='services' ∧ Pstatus=='T' ∧ guardian=='father',Weak discovery,8,27,0.824,0.695,-0.056
18,19,"Medu in (-0.001, 2.0] ∧ age in (17.0, 18.0]",Weak discovery,9,28,0.677,0.734,-0.355
19,20,"Dalc in (0.999, 2.0] ∧ Medu in (-0.001, 2.0] ∧ age in (17.0, 18.0]",Weak discovery,6,28,0.884,0.794,-0.597
20,21,"Medu in (-0.001, 2.0] ∧ age in (17.0, 18.0] ∧ failures in (-0.001, 3.0]",Weak discovery,9,28,0.677,0.734,-0.355
21,22,"Fjob=='services' ∧ Medu in (-0.001, 2.0]",Weak discovery,12,36,0.590,0.765,-0.202
22,23,"Fjob=='services' ∧ Medu in (-0.001, 2.0] ∧ failures in (-0.001, 3.0]",Weak discovery,12,36,0.590,0.765,-0.202
27,28,"age in (17.0, 18.0] ∧ famsize=='GT3' ∧ freetime in (0.999, 3.0]",Weak discovery,10,26,0.502,0.904,-0.280
30,31,"Walc in (0.999, 2.0] ∧ age in (17.0, 18.0] ∧ freetime in (0.999, 3.0]",Weak discovery,9,25,0.779,0.913,-0.326
32,33,"Fjob=='services' ∧ Medu in (-0.001, 2.0] ∧ nursery=='yes'",Weak discovery,7,28,0.764,0.776,-0.044
33,34,"age in (17.0, 18.0] ∧ freetime in (0.999, 3.0] ∧ higher=='yes'",Weak discovery,13,35,0.719,0.917,-0.021
34,35,"age in (17.0, 18.0] ∧ freetime in (0.999, 3.0] ∧ nursery=='yes'",Weak discovery,13,32,0.868,0.943,-0.055
35,36,"Fjob=='services' ∧ health in (0.999, 2.0]",Weak discovery,4,25,0.960,0.834,-0.013
36,37,"Fjob=='services' ∧ failures in (-0.001, 3.0] ∧ health in (0.999, 2.0]",Weak discovery,4,25,0.960,0.834,-0.013
40,41,"age in (17.0, 18.0] ∧ famrel in (0.999, 4.0] ∧ freetime in (0.999, 3.0]",Weak discovery,12,29,0.761,0.935,-0.000
43,44,"Pstatus=='T' ∧ age in (17.0, 18.0] ∧ freetime in (0.999, 3.0]",Weak discovery,13,36,0.693,0.920,-0.088
44,45,"Pstatus=='T' ∧ Walc in (0.999, 2.0] ∧ age in (17.0, 18.0]",Weak discovery,8,35,0.729,0.907,-0.473
45,46,"Walc in (0.999, 2.0] ∧ age in (17.0, 18.0] ∧ nursery=='yes'",Weak discovery,8,31,0.826,0.902,-0.701
50,N/A,NaN,True discovery,79,316,0.889,NaN,NaN

In [ ]:
df = pd.read_csv('results/coefs_calculus.csv')

# Create display labels: #1, #2, ...
chosen = []

df_lins = df[df['subgroup'].isin(['#'+str(i) for i in chosen] + ['Ω'])]

df_lins = df_lins[df_lins['term'] != 'const']

df_lins