In [9]:
import pandas as pd

# Adjust pandas options to see all columns and to read subgroup descriptions fully
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 200)

In [90]:
df_s = pd.read_csv("results/subgroup_model_results.csv")

# Assign rank: one per row (since you now have only subgroup_model rows)
df_s['subgroup_rank'] = (df_s.index + 1).astype("object")
df_s.loc[df_s['model_type'] == 'global', 'subgroup_rank'] = "N/A"

# Round columns for better readability
for col, ndigits in [('cookD', 2), ('r2', 3), ('mae', 3), ('mse', 3), ('mean_residual', 3),
                     ('baseline_r2', 3), ('baseline_mae', 3), ('baseline_mse', 3), ('baseline_mean_residual', 3)]:
    if col in df_s.columns:
        df_s[col] = df_s[col].round(ndigits)

# Compare r2 between subgroup_model and baseline for each row
df_s['subgroup_r2_better'] = (df_s['r2'] > df_s['baseline_r2']).astype("object")
df_s.loc[df_s['model_type'] == 'global', 'subgroup_r2_better'] = None
df_s['subgroup_better_global'] = (df_s['ttest_p'] < 0.1)
df_s.loc[df_s['model_type'] == 'global', 'subgroup_better_global'] = None
df_s['subgroup_better_mean'] = (df_s['ttest_p_mean'] < 0.1)
df_s.loc[df_s['model_type'] == 'global', 'subgroup_better_mean'] = None
df_s['global_better_mean'] = (df_s['ttest_p_mean_global'] < 0.1)
df_s.loc[df_s['model_type'] == 'global', 'global_better_mean'] = None

# Specify desired column order
main_cols = [
    'subgroup_rank', 'model_type', 'description', 'subgroup_r2_better', 'cookD', 'n_train', 'n_test',
    'r2', 'baseline_r2', 'mae', 'baseline_mae', 'mse', 'baseline_mse', 'mean_residual',
    'baseline_mean_residual'
]
rest_cols = [c for c in df_s.columns if c not in main_cols]
new_order = main_cols + rest_cols

# Reorder columns
df_s = df_s[new_order]

C:\Users\20212189\AppData\Local\Temp\ipykernel_13708\3765613234.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_s.loc[df_s['model_type'] == 'global', 'subgroup_better_global'] = None
C:\Users\20212189\AppData\Local\Temp\ipykernel_13708\3765613234.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_s.loc[df_s['model_type'] == 'global', 'subgroup_better_mean'] = None
C:\Users\20212189\AppData\Local\Temp\ipykernel_13708\3765613234.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_s.loc[df_s['model_type'] == 'global', 'global_better_mean'] = None

In [11]:
# Check global model
df_s.tail(1)

,subgroup_rank,model_type,description,subgroup_r2_better,cookD,n_train,n_test,r2,baseline_r2,mae,baseline_mae,mse,baseline_mse,mean_residual,baseline_mean_residual,intercept,coef__total_attended_labsessions,pval__total_attended_labsessions,coef__active_minutes,pval__active_minutes,coef__nr_distinct_files_viewed,pval__nr_distinct_files_viewed,coef__total_course_activities,pval__total_course_activities,coef__distinct_days,pval__distinct_days,coef__nr_files_viewed,pval__nr_files_viewed,coef__nr_practice_exams_viewed,pval__nr_practice_exams_viewed,ttest_p,ttest_stat,ttest_p_mean,ttest_stat_mean,ttest_p_mean_global,ttest_stat_mean_global,wilcoxon_p,wilcoxon_stat,subgroup_better_global,subgroup_better_mean,global_better_mean
15,N/A,global,NaN,None,NaN,559,374,0.226,NaN,0.93,NaN,1.359,NaN,0.063,NaN,2.774317,0.064525,0.000076,0.00004,0.040861,0.096937,4.528641e-12,0.016668,6.406497e-10,-0.02897,0.007907,-0.079991,4.967337e-12,0.072741,0.000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
# Check subgroup models
df_s[['subgroup_better_global', 'subgroup_better_mean', 'global_better_mean',  'r2', 'baseline_r2', 'ttest_p', 'n_test', 'mae', 'baseline_mae', 'description']].head(100)

,subgroup_better_global,subgroup_better_mean,global_better_mean,r2,baseline_r2,ttest_p,n_test,mae,baseline_mae,description
0,True,False,False,-0.063,-2.589,1.416798e-10,93,0.550,1.119,"ECTS=='15' ∧ GPA in (7.5, 9.4]"
1,True,False,False,-0.063,-2.589,1.416798e-10,93,0.550,1.119,"ECTS=='15' ∧ GPA in (7.5, 9.4] ∧ course_repeater==np.False_"
2,True,False,False,0.017,-1.821,8.936141e-10,86,0.622,1.154,"GPA in (7.5, 9.4] ∧ sex=='SEX_M'"
3,True,False,False,0.019,-1.821,7.877539e-10,86,0.621,1.154,"GPA in (7.5, 9.4] ∧ course_repeater==np.False_ ∧ sex=='SEX_M'"
4,True,False,False,-0.062,-1.744,9.347087e-11,121,0.628,1.106,"GPA in (7.5, 9.4]"
...,...,...,...,...,...,...,...,...,...,...
57,False,False,True,0.093,0.139,9.969796e-01,172,0.976,0.949,course_repeater==np.False_ ∧ origin=='ORIGIN_E'
58,False,True,True,0.194,0.215,9.781273e-01,301,0.946,0.933,course_repeater==np.False_ ∧ sex=='SEX_M'
59,False,True,True,0.262,0.270,8.830664e-01,317,0.945,0.938,sex=='SEX_M'
60,False,True,True,0.184,0.193,9.785339e-01,437,0.923,0.920,course_repeater==np.False_
61,NaN,NaN,NaN,0.236,NaN,NaN,467,0.925,NaN,NaN

In [13]:
# Compare individual subgroup against global model

subgroup_rank = 1

df_individual = df_s[(df_s['model_type'] == 'global') | (df_s['subgroup_rank'] == subgroup_rank)]

cols = ['subgroup_rank', 'model_type', 'description', 'cookD', 'n_train', 'n_test'] + rest_cols

df_individual[cols]

,subgroup_rank,model_type,description,cookD,n_train,n_test,intercept,coef__total_attended_labsessions,pval__total_attended_labsessions,coef__active_minutes,pval__active_minutes,coef__nr_distinct_files_viewed,pval__nr_distinct_files_viewed,coef__total_course_activities,pval__total_course_activities,coef__distinct_days,pval__distinct_days,coef__nr_files_viewed,pval__nr_files_viewed,coef__nr_practice_exams_viewed,pval__nr_practice_exams_viewed,ttest_p,ttest_stat,ttest_p_mean,ttest_stat_mean,ttest_p_mean_global,ttest_stat_mean_global,wilcoxon_p,wilcoxon_stat,subgroup_better_global,subgroup_better_mean,global_better_mean
0,1,subgroup,ECTS=='15' ∧ course_repeater==np.False_ ∧ sex=='SEX_M',19.51,161,122,4.779713,0.059493,0.011402,0.000021,0.374080,0.074019,2.725588e-03,0.006153,1.884854e-01,-0.00205,0.900882,-0.036407,6.297257e-02,0.056328,0.008924,0.00069,-3.274801,0.646858,0.377742,0.009122,-2.393091,0.000634,2490.0,True,False,False
15,N/A,global,NaN,NaN,559,374,2.774317,0.064525,0.000076,0.000040,0.040861,0.096937,4.528641e-12,0.016668,6.406497e-10,-0.02897,0.007907,-0.079991,4.967337e-12,0.072741,0.000002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
subgroup_linear_models = pd.read_csv("results/subgroup_linear_models1.csv")

In [7]:
subgroup_linear_models.head(20)

,subgroup,n,cookD,term,coef_group,se_group,t_group,p_group,sig_group,coef_global,se_global,t_global,p_global,sig_global
0,ECTS=='15' ∧ course_repeater==np.False_ ∧ sex=...,161,19.510850,Intercept,4.779713,0.643772,7.424547,7.365128e-12,***,2.774317,0.350289,7.920070,1.317561e-14,***
1,ECTS=='15' ∧ course_repeater==np.False_ ∧ sex=...,161,19.510850,total_attended_labsessions,0.059493,0.023229,2.561096,1.140157e-02,*,0.064525,0.016182,3.987409,7.580384e-05,***
2,ECTS=='15' ∧ course_repeater==np.False_ ∧ sex=...,161,19.510850,active_minutes,0.000021,0.000024,0.891465,3.740796e-01,,0.000040,0.000019,2.049756,4.086108e-02,*
3,ECTS=='15' ∧ course_repeater==np.False_ ∧ sex=...,161,19.510850,nr_distinct_files_viewed,0.074019,0.024295,3.046732,2.725588e-03,**,0.096937,0.013699,7.076028,4.528641e-12,***
4,ECTS=='15' ∧ course_repeater==np.False_ ∧ sex=...,161,19.510850,total_course_activities,0.006153,0.004658,1.320965,1.884854e-01,,0.016668,0.002649,6.291686,6.406497e-10,***
5,ECTS=='15' ∧ course_repeater==np.False_ ∧ sex=...,161,19.510850,distinct_days,-0.002050,0.016432,-0.124754,9.008819e-01,,-0.028970,0.010868,-2.665771,7.906636e-03,**
6,ECTS=='15' ∧ course_repeater==np.False_ ∧ sex=...,161,19.510850,nr_files_viewed,-0.036407,0.019437,-1.873026,6.297257e-02,.,-0.079991,0.011327,-7.062031,4.967337e-12,***
7,ECTS=='15' ∧ course_repeater==np.False_ ∧ sex=...,161,19.510850,nr_practice_exams_viewed,0.056328,0.021265,2.648857,8.923789e-03,**,0.072741,0.015230,4.776176,2.293433e-06,***
8,ECTS=='15' ∧ course_repeater==np.False_,222,19.391462,Intercept,4.952012,0.566309,8.744366,6.667954e-16,***,2.774317,0.350289,7.920070,1.317561e-14,***
9,ECTS=='15' ∧ course_repeater==np.False_,222,19.391462,total_attended_labsessions,0.055126,0.019189,2.872732,4.479099e-03,**,0.064525,0.016182,3.987409,7.580384e-05,***
10,ECTS=='15' ∧ course_repeater==np.False_,222,19.391462,active_minutes,0.000022,0.000021,1.057202,2.916112e-01,,0.000040,0.000019,2.049756,4.086108e-02,*
11,ECTS=='15' ∧ course_repeater==np.False_,222,19.391462,nr_distinct_files_viewed,0.075963,0.020083,3.782448,2.015234e-04,***,0.096937,0.013699,7.076028,4.528641e-12,***
12,ECTS=='15' ∧ course_repeater==np.False_,222,19.391462,total_course_activities,0.006769,0.003793,1.784421,7.577193e-02,.,0.016668,0.002649,6.291686,6.406497e-10,***
13,ECTS=='15' ∧ course_repeater==np.False_,222,19.391462,distinct_days,-0.013839,0.013980,-0.989924,3.233292e-01,,-0.028970,0.010868,-2.665771,7.906636e-03,**
14,ECTS=='15' ∧ course_repeater==np.False_,222,19.391462,nr_files_viewed,-0.038075,0.016006,-2.378761,1.825012e-02,*,-0.079991,0.011327,-7.062031,4.967337e-12,***
15,ECTS=='15' ∧ course_repeater==np.False_,222,19.391462,nr_practice_exams_viewed,0.060359,0.017968,3.359328,9.249693e-04,***,0.072741,0.015230,4.776176,2.293433e-06,***
16,ECTS=='15',224,17.821683,Intercept,4.820753,0.569441,8.465767,3.896712e-15,***,2.774317,0.350289,7.920070,1.317561e-14,***
17,ECTS=='15',224,17.821683,total_attended_labsessions,0.053338,0.019364,2.754446,6.380493e-03,**,0.064525,0.016182,3.987409,7.580384e-05,***
18,ECTS=='15',224,17.821683,active_minutes,0.000023,0.000021,1.118704,2.645091e-01,,0.000040,0.000019,2.049756,4.086108e-02,*
19,ECTS=='15',224,17.821683,nr_distinct_files_viewed,0.080467,0.020048,4.013730,8.242501e-05,***,0.096937,0.013699,7.076028,4.528641e-12,***