In [1]:
import pandas as pd

# Adjust pandas options to see all columns and to read subgroup descriptions fully
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 200)
pd.set_option('display.max_rows', 200)

In [2]:
df_s = pd.read_csv("results/subgroup_model_results.csv")
#df_s.columns

In [ ]:
# Move global model row(s) to the bottom
df_s = pd.concat([
    df_s[df_s['model_type'] != 'global'],
    df_s[df_s['model_type'] == 'global']
], ignore_index=True)

# Assign rank: one per row (since you now have only subgroup_model rows)
df_s['subgroup_rank'] = (df_s.index + 1).astype("object")
df_s.loc[df_s['model_type'] == 'global', 'subgroup_rank'] = "N/A"

# Round columns for better readability
for col, ndigits in [('cookD', 2), ('r2', 3), ('mae', 3), ('mse', 3), ('mean_residual', 3),
                     ('global_baseline_r2', 3), ('global_baseline_mae', 3), ('global_baseline_mse', 3), ('global_baseline_mean_residual', 3),
                     ('mean_baseline_r2', 3), ('mean_baseline_mae', 3), ('mean_baseline_mse', 3), ('mean_baseline_mean_residual', 3)]:
    if col in df_s.columns:
        df_s[col] = df_s[col].round(ndigits)

# Compare r2 between subgroup_model and global baseline for each row
df_s['subgroup_r2_better'] = (df_s['r2'] > df_s['global_baseline_r2']).astype("object")
df_s.loc[df_s['model_type'] == 'global', 'subgroup_r2_better'] = None
df_s['subgroup_better_global'] = (df_s['ttest_p'] < 0.1)
df_s.loc[df_s['model_type'] == 'global', 'subgroup_better_global'] = None
df_s['subgroup_better_mean'] = (df_s['ttest_p_mean'] < 0.1)
df_s.loc[df_s['model_type'] == 'global', 'subgroup_better_mean'] = None
df_s['global_better_mean'] = (df_s['ttest_p_mean_global'] < 0.1)
df_s.loc[df_s['model_type'] == 'global', 'global_better_mean'] = None

# Add decision column based on the rules
def determine_decision(row):
    sg = row['subgroup_better_global']
    sm = row['subgroup_better_mean']
    gm = row['global_better_mean']
    
    if sg and sm:
        return "True discovery"
    elif sg and not sm:
        return "True discovery, but model not appropriate"
    elif not sg and sm:
        return "Weak discovery"
    elif not sg and not sm and gm:
        return "False discovery"
    else:
        return "Model not appropriate"

df_s['decision'] = df_s.apply(determine_decision, axis=1)

# Specify desired column order
main_cols = [
    'subgroup_rank', 'model_type', 'description', 'decision', 'subgroup_r2_better', 'cookD', 'n_train', 'n_test',
    'r2', 'global_baseline_r2', 'mean_baseline_r2', 
    'mae', 'global_baseline_mae', 'mean_baseline_mae',
    'mse', 'global_baseline_mse', 'mean_baseline_mse',
    'mean_residual', 'global_baseline_mean_residual', 'mean_baseline_mean_residual'
 ]
rest_cols = [c for c in df_s.columns if c not in main_cols]
new_order = main_cols + rest_cols

# Reorder columns
df_s = df_s[new_order]

C:\Users\danic\AppData\Local\Temp\ipykernel_14444\4176869831.py:22: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_s.loc[df_s['model_type'] == 'global', 'subgroup_better_global'] = None
C:\Users\danic\AppData\Local\Temp\ipykernel_14444\4176869831.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_s.loc[df_s['model_type'] == 'global', 'subgroup_better_mean'] = None
C:\Users\danic\AppData\Local\Temp\ipykernel_14444\4176869831.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'nan' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df_s.loc[df_s['model_type'] == 'global', 'global_better_mean'] = None

TypeError: can only concatenate tuple (not "list") to tuple

In [4]:
df_s.head(1)

,subgroup_rank,model_type,description,decision,subgroup_r2_better,cookD,n_train,n_test,r2,global_baseline_r2,mean_baseline_r2,mae,global_baseline_mae,mean_baseline_mae,mse,global_baseline_mse,mean_baseline_mse,mean_residual,global_baseline_mean_residual,mean_baseline_mean_residual,intercept,coef__total_attended_labsessions,pval__total_attended_labsessions,coef__active_minutes,pval__active_minutes,coef__nr_distinct_files_viewed,pval__nr_distinct_files_viewed,coef__total_course_activities,pval__total_course_activities,coef__distinct_days,pval__distinct_days,coef__nr_files_viewed,pval__nr_files_viewed,coef__nr_practice_exams_viewed,pval__nr_practice_exams_viewed,ttest_p,ttest_stat,wilcoxon_p,wilcoxon_stat,ttest_p_mean,ttest_stat_mean,wilcoxon_p_mean,wilcoxon_stat_mean,ttest_p_mean_global,ttest_stat_mean_global,wilcoxon_p_mean_global,wilcoxon_stat_mean_global,subgroup_better_global,subgroup_better_mean,global_better_mean
0,1,subgroup,"ECTS=='15' ∧ GPA in (7.0, 8.9] ∧ croho=='B Computer Science & Engineering'","True discovery, but model not appropriate",True,104.42,91,34,-0.102,-1.323,-0.103,0.651,0.962,0.649,0.603,1.271,0.603,-0.133,0.845,-0.237,6.071988,0.044559,0.082377,0.000003,0.904598,0.046316,0.139547,0.000058,0.989982,0.048305,0.003561,-0.014246,0.455406,0.004711,0.845443,0.010143,-2.43873,0.007655,157.0,0.49876,-0.003133,0.526904,301.0,0.986973,2.33026,0.988673,429.0,True,False,False

In [5]:
# Check subgroup models
df_s[['description', 'decision',   
      'r2', 'global_baseline_r2', 'mean_baseline_r2',
      'mse', 'global_baseline_mse', 'mean_baseline_mse',
      'ttest_p', 'n_test', 'subgroup_better_global', 'subgroup_better_mean', 'global_better_mean']].head(100)

,description,decision,r2,global_baseline_r2,mean_baseline_r2,mse,global_baseline_mse,mean_baseline_mse,ttest_p,n_test,subgroup_better_global,subgroup_better_mean,global_better_mean
0,"ECTS=='15' ∧ GPA in (7.0, 8.9] ∧ croho=='B Computer Science & Engineering'","True discovery, but model not appropriate",-0.102,-1.323,-0.103,0.603,1.271,0.603,0.010143,34,True,False,False
1,"GPA in (7.0, 8.9] ∧ croho=='B Computer Science & Engineering'","True discovery, but model not appropriate",-0.078,-1.344,-0.104,0.566,1.231,0.580,0.006799,36,True,False,False
2,"GPA in (7.0, 8.9] ∧ course_repeater==np.False_ ∧ croho=='B Computer Science & Engineering'","True discovery, but model not appropriate",-0.078,-1.344,-0.104,0.566,1.231,0.580,0.006799,36,True,False,False
3,"ECTS=='15' ∧ GPA in (7.0, 8.9]",True discovery,0.068,-0.865,-0.085,0.569,1.140,0.663,0.004023,60,True,True,False
4,"ECTS=='15' ∧ GPA in (7.0, 8.9] ∧ course_repeater==np.False_",True discovery,0.068,-0.865,-0.085,0.569,1.140,0.663,0.004023,60,True,True,False
5,"GPA in (7.0, 8.9]",True discovery,0.009,-0.780,-0.132,0.588,1.056,0.672,0.007135,72,True,True,False
6,"GPA in (7.0, 8.9] ∧ course_repeater==np.False_",True discovery,0.009,-0.780,-0.132,0.588,1.056,0.672,0.007135,72,True,True,False
7,"ECTS=='15' ∧ GPA in (7.0, 8.9] ∧ sex=='SEX_M'",True discovery,0.125,-1.461,-0.057,0.482,1.356,0.582,0.001743,38,True,True,False
8,"GPA in (7.0, 8.9] ∧ origin=='ORIGIN_E'",True discovery,0.174,-1.186,-0.008,0.425,1.123,0.518,0.003199,37,True,True,False
9,"GPA in (7.0, 8.9] ∧ course_repeater==np.False_ ∧ origin=='ORIGIN_E'",True discovery,0.174,-1.186,-0.008,0.425,1.123,0.518,0.003199,37,True,True,False
10,"GPA in (7.0, 8.9] ∧ sex=='SEX_M'",True discovery,0.032,-1.265,-0.135,0.532,1.244,0.624,0.003601,47,True,True,False
11,"GPA in (7.0, 8.9] ∧ course_repeater==np.False_ ∧ sex=='SEX_M'",True discovery,0.032,-1.265,-0.135,0.532,1.244,0.624,0.003601,47,True,True,False
12,"GPA in (7.0, 8.9] ∧ croho=='B Computer Science & Engineering' ∧ sex=='SEX_M'","True discovery, but model not appropriate",0.052,-1.948,-0.082,0.446,1.385,0.509,0.002959,26,True,False,False
13,"GPA in (1.399, 5.6] ∧ croho=='B Industrial Engineering'",True discovery,0.448,-0.331,-0.068,1.356,3.271,2.624,0.001356,32,True,True,False
14,"GPA in (1.399, 5.6] ∧ course_repeater==np.False_ ∧ croho=='B Industrial Engineering'",True discovery,0.470,-0.496,-0.102,1.212,3.416,2.517,0.000389,30,True,True,False
15,"GPA in (1.399, 5.6] ∧ sex=='SEX_M'",True discovery,0.408,-0.076,-0.005,1.251,2.275,2.125,0.003519,59,True,True,False
16,"GPA in (1.399, 5.6] ∧ course_repeater==np.False_",True discovery,0.340,-0.331,-0.004,1.229,2.478,1.869,0.000065,65,True,True,False
17,"GPA in (1.399, 5.6] ∧ course_repeater==np.False_ ∧ sex=='SEX_M'",True discovery,0.424,-0.225,-0.003,1.202,2.557,2.094,0.000446,51,True,True,False
18,"GPA in (1.399, 5.6]",True discovery,0.345,-0.170,-0.001,1.243,2.221,1.900,0.000456,75,True,True,False
19,"GPA in (1.399, 5.6] ∧ origin=='ORIGIN_N'",Model not appropriate,0.382,0.110,-0.007,1.263,1.820,2.058,0.100516,33,False,False,False
20,"GPA in (1.399, 5.6] ∧ course_repeater==np.False_ ∧ origin=='ORIGIN_N'","True discovery, but model not appropriate",0.455,0.042,-0.046,1.121,1.971,2.151,0.026204,30,True,False,False
21,"ECTS=='15' ∧ GPA in (6.3, 7.0]",Model not appropriate,-0.196,-0.295,-0.023,0.879,0.952,0.752,0.376648,30,False,False,False
22,"ECTS=='15' ∧ GPA in (6.3, 7.0] ∧ course_repeater==np.False_",Model not appropriate,-0.196,-0.295,-0.023,0.879,0.952,0.752,0.376648,30,False,False,False
23,ECTS=='15' ∧ origin=='ORIGIN_R',Model not appropriate,-0.029,-0.023,-0.135,1.028,1.022,1.134,0.510178,24,False,False,False
24,ECTS=='5' ∧ origin=='ORIGIN_N',Model not appropriate,-0.428,-0.224,-0.262,1.262,1.082,1.116,0.684771,27,False,False,False
25,ECTS=='5' ∧ course_repeater==np.False_ ∧ origin=='ORIGIN_N',Model not appropriate,-0.426,-0.224,-0.227,1.260,1.082,1.084,0.683614,27,False,False,False
26,ECTS=='15' ∧ course_repeater==np.False_ ∧ origin=='ORIGIN_R',Model not appropriate,0.048,-0.042,-0.116,0.957,1.048,1.122,0.346912,23,False,False,False
27,ECTS=='5' ∧ sex=='SEX_M',"True discovery, but model not appropriate",-0.509,-0.876,-0.117,1.566,1.947,1.159,0.096349,46,True,False,False
28,ECTS=='5' ∧ course_repeater==np.False_ ∧ sex=='SEX_M',"True discovery, but model not appropriate",-0.498,-0.896,-0.088,1.572,1.990,1.142,0.079145,45,True,False,False
29,ECTS=='15' ∧ croho=='B Computer Science & Engineering',True discovery,0.174,-0.129,-0.012,0.802,1.096,0.983,0.058987,55,True,True,False
30,ECTS=='15' ∧ course_repeater==np.False_ ∧ croho=='B Computer Science & Engineering',"True discovery, but model not appropriate",0.110,-0.306,-0.004,0.746,1.095,0.841,0.029391,54,True,False,False
31,croho=='B Computer Science & Engineering' ∧ origin=='ORIGIN_R',Model not appropriate,0.416,0.435,-0.089,1.178,1.139,2.196,0.544478,22,False,False,False
32,course_repeater==np.False_ ∧ croho=='B Industrial Design',"True discovery, but model not appropriate",-0.023,-0.462,-0.131,0.877,1.252,0.969,0.087737,32,True,False,False
33,croho=='B Industrial Design',"True discovery, but model not appropriate",-0.010,-0.523,-0.145,0.833,1.255,0.943,0.030220,40,True,False,False
34,ECTS=='15',True discovery,0.139,-0.148,-0.003,0.784,1.045,0.914,0.011990,111,True,True,False
35,ECTS=='15' ∧ course_repeater==np.False_,True discovery,0.120,-0.239,-0.001,0.745,1.050,0.848,0.003642,109,True,True,False
36,ECTS=='5',Model not appropriate,-0.509,-0.666,-0.101,1.546,1.706,1.127,0.226387,60,False,False,False
37,ECTS=='15' ∧ croho=='B Computer Science & Engineering' ∧ sex=='SEX_M',True discovery,0.215,-0.147,-0.012,0.811,1.186,1.047,0.044234,44,True,True,False
38,ECTS=='5' ∧ course_repeater==np.False_,Model not appropriate,-0.501,-0.675,-0.081,1.554,1.734,1.119,0.201244,59,False,False,False
39,ECTS=='15' ∧ sex=='SEX_M',"True discovery, but model not appropriate",0.091,-0.271,-0.003,0.854,1.194,0.942,0.014905,78,True,False,False
40,ECTS=='15' ∧ course_repeater==np.False_ ∧ sex=='SEX_M',"True discovery, but model not appropriate",0.050,-0.415,-0.000,0.809,1.205,0.851,0.005578,76,True,False,False
41,"GPA in (6.3, 7.0] ∧ course_repeater==np.False_ ∧ sex=='SEX_V'","True discovery, but model not appropriate",-0.294,-1.082,-0.153,0.446,0.718,0.398,0.041449,26,True,False,False
42,croho=='B Industrial Engineering' ∧ origin=='ORIGIN_N' ∧ sex=='SEX_M',False discovery,0.499,0.497,-0.004,1.498,1.503,3.000,0.495478,35,False,False,True
43,"GPA in (6.3, 7.0] ∧ sex=='SEX_V'","True discovery, but model not appropriate",-0.348,-1.018,-0.152,0.461,0.690,0.394,0.052771,29,True,False,False
44,"GPA in (6.3, 7.0] ∧ course_repeater==np.False_ ∧ origin=='ORIGIN_N'","True discovery, but model not appropriate",-0.105,-0.812,-0.014,0.516,0.847,0.474,0.035088,31,True,False,False
45,course_repeater==np.False_ ∧ croho=='B Computer Science & Engineering',Model not appropriate,0.272,0.156,-0.019,0.888,1.030,1.244,0.188037,79,False,False,False
46,"GPA in (6.3, 7.0] ∧ origin=='ORIGIN_N'","True discovery, but model not appropriate",-0.114,-0.802,-0.014,0.513,0.829,0.467,0.032024,33,True,False,False
47,ECTS=='15' ∧ croho=='B Computer Science & Engineering' ∧ origin=='ORIGIN_E',Model not appropriate,0.251,0.031,-0.003,0.799,1.034,1.070,0.126235,37,False,False,False
48,"GPA in (5.6, 6.3]","True discovery, but model not appropriate",0.103,-0.279,-0.001,0.785,1.120,0.876,0.031132,79,True,False,False
49,croho=='B Computer Science & Engineering',Weak discovery,0.319,0.202,-0.017,0.851,0.997,1.270,0.118589,83,False,True,False
50,ECTS=='15' ∧ origin=='ORIGIN_E',"True discovery, but model not appropriate",0.127,-0.236,-0.049,0.778,1.102,0.935,0.021289,57,True,False,False
51,ECTS=='15' ∧ course_repeater==np.False_ ∧ origin=='ORIGIN_E',"True discovery, but model not appropriate",0.022,-0.447,-0.088,0.744,1.100,0.828,0.012578,56,True,False,False
52,course_repeater==np.False_ ∧ croho=='B Computer Science & Engineering' ∧ origin=='ORIGIN_E',Model not appropriate,0.159,0.016,-0.036,0.746,0.873,0.919,0.199862,47,False,False,False
53,croho=='B Computer Science & Engineering' ∧ origin=='ORIGIN_E',Weak discovery,0.253,0.146,-0.013,0.740,0.846,1.003,0.225746,50,False,True,False
54,course_repeater==np.False_ ∧ croho=='B Computer Science & Engineering' ∧ sex=='SEX_M',"True discovery, but model not appropriate",0.326,0.124,-0.015,0.870,1.132,1.312,0.060818,63,True,False,False
55,ECTS=='15' ∧ origin=='ORIGIN_E' ∧ sex=='SEX_M',"True discovery, but model not appropriate",0.123,-0.301,-0.023,0.865,1.284,1.009,0.022330,41,True,False,False
56,"GPA in (5.6, 6.3] ∧ course_repeater==np.False_","True discovery, but model not appropriate",0.079,-0.277,-0.002,0.766,1.062,0.833,0.045746,73,True,False,False
57,croho=='B Computer Science & Engineering' ∧ origin=='ORIGIN_E' ∧ sex=='SEX_M',Model not appropriate,0.242,0.092,-0.009,0.757,0.906,1.007,0.182668,40,False,False,False
58,ECTS=='10' ∧ sex=='SEX_M',Model not appropriate,0.095,0.147,-0.066,1.113,1.049,1.311,0.665602,34,False,False,False
59,ECTS=='10' ∧ course_repeater==np.False_ ∧ sex=='SEX_M',Model not appropriate,0.084,0.147,-0.059,1.127,1.049,1.303,0.692517,34,False,False,False
60,"GPA in (5.6, 6.3] ∧ sex=='SEX_M'",Model not appropriate,0.057,-0.115,-0.000,0.975,1.152,1.034,0.169295,52,False,False,False
61,"GPA in (6.3, 7.0]","True discovery, but model not appropriate",-0.049,-0.742,-0.000,0.538,0.894,0.513,0.000470,73,True,False,False
62,"GPA in (6.3, 7.0] ∧ course_repeater==np.False_","True discovery, but model not appropriate",-0.032,-0.764,-0.000,0.534,0.914,0.518,0.000300,70,True,False,False
63,croho=='B Computer Science & Engineering' ∧ sex=='SEX_M',True discovery,0.370,0.176,-0.013,0.829,1.085,1.333,0.020793,67,True,True,False
64,croho=='B Industrial Engineering' ∧ origin=='ORIGIN_N',Weak discovery,0.534,0.471,-0.011,1.245,1.413,2.701,0.242643,49,False,True,True
65,"GPA in (5.6, 6.3] ∧ course_repeater==np.False_ ∧ sex=='SEX_M'",Model not appropriate,0.077,-0.084,-0.000,0.956,1.123,1.036,0.181484,48,False,False,False
66,course_repeater==np.False_ ∧ croho=='B Industrial Engineering' ∧ origin=='ORIGIN_N',Weak discovery,0.540,0.474,-0.009,1.263,1.446,2.774,0.236920,47,False,True,True
67,"GPA in (6.3, 7.0] ∧ sex=='SEX_M'","True discovery, but model not appropriate",-0.006,-0.774,-0.038,0.584,1.029,0.602,0.001503,44,True,False,False
68,"GPA in (6.3, 7.0] ∧ course_repeater==np.False_ ∧ sex=='SEX_M'","True discovery, but model not appropriate",-0.010,-0.774,-0.036,0.586,1.029,0.601,0.001437,44,True,False,False
69,origin=='ORIGIN_R' ∧ sex=='SEX_V',Model not appropriate,-0.244,-0.128,-0.020,1.553,1.408,1.273,0.631445,22,False,False,False
70,ECTS=='10' ∧ course_repeater==np.False_,"True discovery, but model not appropriate",0.023,-0.240,-0.003,0.893,1.133,0.916,0.087848,56,True,False,False
71,ECTS=='10',"True discovery, but model not appropriate",0.022,-0.240,-0.006,0.894,1.133,0.919,0.068254,56,True,False,False
72,croho=='B Industrial Engineering' ∧ sex=='SEX_M',Weak discovery,0.321,0.290,-0.003,1.750,1.828,2.585,0.347958,71,False,True,True
73,croho=='B Data Science (joint degree)' ∧ sex=='SEX_M',False discovery,0.133,0.193,-0.049,1.344,1.250,1.625,0.666649,33,False,False,True
74,origin=='ORIGIN_N' ∧ sex=='SEX_V',False discovery,0.054,0.239,-0.009,1.194,0.960,1.272,0.930420,36,False,False,True
75,origin=='ORIGIN_R' ∧ sex=='SEX_M',Model not appropriate,0.069,0.241,-0.176,2.086,1.700,2.634,0.969295,44,False,False,False
76,croho=='B Industrial Engineering',Weak discovery,0.310,0.266,-0.002,1.492,1.585,2.167,0.228039,108,False,True,True
77,course_repeater==np.False_ ∧ croho=='B Industrial Engineering',Weak discovery,0.309,0.263,-0.004,1.517,1.619,2.205,0.223234,104,False,True,True
78,course_repeater==np.False_ ∧ croho=='B Data Science (joint degree)',Model not appropriate,0.030,0.042,-0.033,1.491,1.474,1.588,0.541486,43,False,False,False
79,croho=='B Data Science (joint degree)',Model not appropriate,0.157,0.175,-0.021,1.521,1.488,1.843,0.585387,47,False,False,False
80,course_repeater==np.False_ ∧ origin=='ORIGIN_R',Model not appropriate,0.069,0.166,-0.135,1.882,1.686,2.294,0.943769,61,False,False,False
81,origin=='ORIGIN_R',Model not appropriate,0.091,0.168,-0.106,1.752,1.603,2.133,0.921924,66,False,False,False
82,origin=='ORIGIN_N' ∧ sex=='SEX_M',Weak discovery,0.368,0.369,-0.001,1.332,1.329,2.109,0.514393,76,False,True,True
83,origin=='ORIGIN_E',False discovery,0.125,0.161,-0.031,1.352,1.296,1.593,0.871870,122,False,False,True
84,origin=='ORIGIN_E' ∧ sex=='SEX_M',Model not appropriate,0.082,0.108,-0.027,1.553,1.510,1.739,0.759381,83,False,False,False
85,course_repeater==np.False_ ∧ origin=='ORIGIN_E',Model not appropriate,0.093,0.112,-0.030,1.333,1.305,1.514,0.718378,114,False,False,False
86,course_repeater==np.False_ ∧ sex=='SEX_V',Weak discovery,0.160,0.159,-0.002,1.005,1.006,1.199,0.494499,90,False,True,False
87,origin=='ORIGIN_N',Weak discovery,0.340,0.340,-0.002,1.212,1.211,1.839,0.522077,112,False,True,True
88,sex=='SEX_V',Weak discovery,0.243,0.205,-0.000,0.966,1.015,1.276,0.166364,97,False,True,True
89,course_repeater==np.False_ ∧ origin=='ORIGIN_N',Weak discovery,0.347,0.349,-0.005,1.214,1.209,1.867,0.580055,105,False,True,True
90,sex=='SEX_M',Weak discovery,0.244,0.256,-0.001,1.507,1.483,1.997,0.957952,203,False,True,True
91,course_repeater==np.False_ ∧ sex=='SEX_M',Weak discovery,0.244,0.256,-0.003,1.541,1.516,2.044,0.978716,190,False,True,True
92,course_repeater==np.False_,Weak discovery,0.235,0.236,-0.003,1.355,1.352,1.775,0.714301,280,False,True,True
93,NaN,True discovery,0.245,NaN,-0.001,1.332,NaN,1.765,NaN,300,NaN,NaN,NaN

In [5]:
# Compare individual subgroup against global model

subgroup_rank = 1

df_individual = df_s[(df_s['model_type'] == 'global') | (df_s['subgroup_rank'] == subgroup_rank)]

cols = ['subgroup_rank', 'model_type', 'description', 'cookD', 'n_train', 'n_test'] + rest_cols

df_individual[cols]

,subgroup_rank,model_type,description,cookD,n_train,n_test,intercept,coef__G1,pval__G1,coef__G2,pval__G2,coef__absences,pval__absences,coef__activities,pval__activities,coef__paid,pval__paid,coef__famsup,pval__famsup,coef__schoolsup,pval__schoolsup,coef__studytime,pval__studytime,indices,ttest_p,ttest_stat,wilcoxon_p,wilcoxon_stat,ttest_p_mean,ttest_stat_mean,wilcoxon_p_mean,wilcoxon_stat_mean,ttest_p_mean_global,ttest_stat_mean_global,wilcoxon_p_mean_global,wilcoxon_stat_mean_global,subgroup_better_global,subgroup_better_mean,global_better_mean
0,1,subgroup,"Walc in (2.0, 3.0] ∧ nursery=='yes' ∧ school=='MS'",474.33,29,5,-2.790428,0.795457,0.000344,0.393798,3.085668e-02,-0.049514,0.693350,0.714396,0.292423,-5.530959,0.002976,1.967350,0.030990,-9.398559,0.000059,-0.003401,0.994783,"[4, 8, 18, 36, 46, 53, 58, 75, 83, 95, 97, 118, 155, 176, 215, 221, 227, 235, 249, 290, 313, 363, 365, 440, 447, 457, 461, 486, 504]",0.865752,1.283915,0.90625,12.0,0.106733,-1.478048,0.21875,4.0,0.089036,-1.631734,0.0625,1.0,False,False,True
50,N/A,global,NaN,NaN,519,130,-0.330637,0.158945,0.000077,0.887581,8.869635e-84,0.017393,0.153938,-0.079296,0.471657,-0.343987,0.124951,0.122758,0.278713,-0.114223,0.539993,0.041240,0.564622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
subgroup_linear_models = pd.read_csv("results/subgroup_portuguese_linear.csv")

In [7]:
subgroup_linear_models[['subgroup', 'n', 'cookD']].drop_duplicates().iloc[[14, 18, 25, 28, 29, 38, 44, 45, 46]]#[8,9, 27, 28, 41, 47]]

,subgroup,n,cookD
126,"Mjob=='other' ∧ Pstatus=='T' ∧ Walc in (3.0, 5.0]",25,240.534050
162,"Walc in (2.0, 3.0] ∧ sex=='M' ∧ traveltime in (0.999, 2.0]",25,234.751851
225,"Dalc in (2.0, 5.0] ∧ famrel in (0.999, 4.0] ∧ school=='GP'",24,218.148582
252,"goout in (4.0, 5.0] ∧ higher=='yes' ∧ reason=='course'",29,215.428720
261,"Walc in (3.0, 5.0] ∧ guardian=='father'",23,211.476044
342,"Mjob=='other' ∧ Walc in (3.0, 5.0] ∧ higher=='yes'",23,195.506601
396,"Pstatus=='T' ∧ freetime in (4.0, 5.0] ∧ reason=='course'",20,190.188238
405,"Walc in (2.0, 3.0] ∧ higher=='yes' ∧ romantic=='no'",40,189.731408
414,"Medu in (3.0, 4.0] ∧ age in (17.0, 18.0] ∧ nursery=='yes'",23,189.182909

In [8]:
subgroup_linear_models

,subgroup,n,cookD,indices,term,coef_group,se_group,t_group,p_group,sig_group,coef_global,se_global,t_global,p_global,sig_global
0,"Dalc in (2.0, 5.0] ∧ reason=='course'",20,709.810622,"[25, 31, 38, 55, 74, 75, 123, 137, 154, 170, 182, 231, 291, 302, 342, 348, 366, 419, 429, 444]",Intercept,-3.448716,3.816816,-0.903558,0.385590,,0.027177,0.268016,0.101401,9.192777e-01,
1,"Dalc in (2.0, 5.0] ∧ reason=='course'",20,709.810622,"[25, 31, 38, 55, 74, 75, 123, 137, 154, 170, 182, 231, 291, 302, 342, 348, 366, 419, 429, 444]",G1,1.491312,0.892413,1.671100,0.122876,,0.132953,0.039030,3.406398,7.180220e-04,***
2,"Dalc in (2.0, 5.0] ∧ reason=='course'",20,709.810622,"[25, 31, 38, 55, 74, 75, 123, 137, 154, 170, 182, 231, 291, 302, 342, 348, 366, 419, 429, 444]",G2,0.002628,0.766467,0.003429,0.997325,,0.890912,0.036540,24.381771,5.217999e-84,***
3,"Dalc in (2.0, 5.0] ∧ reason=='course'",20,709.810622,"[25, 31, 38, 55, 74, 75, 123, 137, 154, 170, 182, 231, 291, 302, 342, 348, 366, 419, 429, 444]",absences,0.419381,0.174835,2.398725,0.035312,*,0.010979,0.012097,0.907587,3.645878e-01,
4,"Dalc in (2.0, 5.0] ∧ reason=='course'",20,709.810622,"[25, 31, 38, 55, 74, 75, 123, 137, 154, 170, 182, 231, 291, 302, 342, 348, 366, 419, 429, 444]",activities,-0.794305,1.403415,-0.565980,0.582769,,-0.051632,0.109035,-0.473532,6.360657e-01,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,"Pstatus=='T' ∧ Walc in (3.0, 5.0] ∧ nursery=='no'",23,187.598493,"[1, 20, 33, 35, 66, 68, 74, 83, 147, 154, 216, 321, 331, 334, 342, 348, 383, 399, 402, 419, 427, 429, 431]",activities,0.200127,0.570490,0.350798,0.730962,,-0.051632,0.109035,-0.473532,6.360657e-01,
446,"Pstatus=='T' ∧ Walc in (3.0, 5.0] ∧ nursery=='no'",23,187.598493,"[1, 20, 33, 35, 66, 68, 74, 83, 147, 154, 216, 321, 331, 334, 342, 348, 383, 399, 402, 419, 427, 429, 431]",paid,0.326356,1.092965,0.298597,0.769634,,-0.449179,0.221763,-2.025495,4.341291e-02,*
447,"Pstatus=='T' ∧ Walc in (3.0, 5.0] ∧ nursery=='no'",23,187.598493,"[1, 20, 33, 35, 66, 68, 74, 83, 147, 154, 216, 321, 331, 334, 342, 348, 383, 399, 402, 419, 427, 429, 431]",famsup,1.108130,0.617034,1.795898,0.094117,.,0.098840,0.113121,0.873762,3.827193e-01,
448,"Pstatus=='T' ∧ Walc in (3.0, 5.0] ∧ nursery=='no'",23,187.598493,"[1, 20, 33, 35, 66, 68, 74, 83, 147, 154, 216, 321, 331, 334, 342, 348, 383, 399, 402, 419, 427, 429, 431]",schoolsup,5.083626,1.357058,3.746063,0.002170,**,0.027472,0.184330,0.149034,8.815941e-01,
449,"Pstatus=='T' ∧ Walc in (3.0, 5.0] ∧ nursery=='no'",23,187.598493,"[1, 20, 33, 35, 66, 68, 74, 83, 147, 154, 216, 321, 331, 334, 342, 348, 383, 399, 402, 419, 427, 429, 431]",studytime,-0.122913,0.546369,-0.224963,0.825259,,0.023781,0.070521,0.337226,7.361057e-01,